$primary-color: #5941A9;
$secondary-color: #FFF8F0;
$accent-color: #010004;

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Light.ttf");
  font-weight: 10;
}

* {
  font-family: "Montserrat";
}
.container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: none;
}

  .logo {
    background: none;
    margin-bottom: 0px;
    svg {
      background: none;
    }
  }
  
  .title {
    font-size: 2.5rem;
    margin: 20px 0;
  
    .highlight {
      background: none;
      color: $secondary-color;
    }
  }
  
  .startButton {
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: $secondary-color;
    background-color: $primary-color;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
  
    &:hover {
      background-color: $primary-color;
      transform: scale(1.05);
      font-weight: 600;
    }
  
    &:active {
      transform: scale(0.95);
    }
  }
  